.featured-recipe {
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(242, 206, 226, 0.1), rgba(217, 186, 203, .1), rgba(242, 224, 201, 0.1), rgba(242,189,214,.1)), url("https://cdn.hipwallpaper.com/i/24/89/woV8Z5.jpg") center center no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
}

.recipe-1 {
    grid-column: 1/3;
    grid-row: 1/3;
    background-size: cover;
    position: relative;
}

.banner-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 20% 0;
}

h3 {
    font-family: 'Bilbo', cursive;
    font-size: 2rem;
    font-weight: lighter;
    margin: 0;
}

.btn-container {
    margin-top: 20%;
}

.custom-btn {
    border-radius: 2px;
    border: 2px solid #ae766e;
    padding: 8px 15px;
    background: transparent;
    transition: 500ms;
    text-transform: uppercase;
    margin: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
    color: gray;
}

.custom-btn:hover {
    background: #ae766e;
    color: white;
    transition: 500ms;
    cursor: pointer;
}

.search-form {
    max-width: 100%;
    margin: 20px auto;
}

.search-bar {
    height: 30px;
    width: 95%;
    border-radius: 5px;
    border: 2px solid #ae766e;
    padding: 3px 10px;
}

.search-button {
    background: antiquewhite;
    height: 32px;
    width: 18%;
    border: none;
}

.recipe-2 {
    border: 2px solid gold;
    background: url("https://cdn.pixabay.com/photo/2016/11/22/21/28/cupcakes-1850628__340.jpg") center center no-repeat;
    background-size: cover;
}

.recipe-3 {
    border: 2px solid gold;
    background: url("https://cdn.pixabay.com/photo/2018/01/16/19/00/macaron-3086577_960_720.jpg") center center no-repeat;
    background-size: cover;
}

.recipe-4 {
    border: 2px solid gold;
    background: url("https://cdn.pixabay.com/photo/2020/02/16/20/33/macarons-4854733_960_720.jpg") center center no-repeat;
    background-size: cover;
}

.recipe-5 {
    border: 2px solid gold;
    background: url("https://cdn.pixabay.com/photo/2018/09/10/17/44/pastel-furnace-3667560_960_720.jpg") center center no-repeat;
    background-size: cover;
}

.recipe-6 {
    border: 2px solid gold;
    background: url("https://cdn.pixabay.com/photo/2017/04/06/22/30/cupcakes-2209474_960_720.jpg") center center no-repeat;
    background-size: cover;
}

/*RESPONSIVE*/

@media (max-width: 1341px) {
    .banner-container {
        top: 30%;
        left: 40%;
        transform: translate(-40%, -30%);
    }

    .banner-container .headers {
        /*padding-top: 50px;*/
    }

    .btn-container {
        margin-top: 5%;
    }
}

@media (max-width: 768px) {
    .recipe-1 {
        grid-column: 1/4;
        grid-row: 1/4;
    }

    .d-sm-none {
        display: none;
    }
}

@media (max-width: 579px) {
    .banner-container .headers {
        /*padding-top: 100px;*/
        font-size: 3rem;
    }
}

@media (max-width: 425px) {
    .d-xs-none {
        display: none;
    }

    .recipe-6 {
        grid-column: 1/4;
    }
}

@media (max-width: 375px) {
    .banner-container .headers {
        /*padding-top: 150px;*/
    }

    .banner-container h3 {
        font-size: 1.5rem;
    }
}

