.recipe-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: linear-gradient(90deg, rgba(212, 203, 207, 0.5), rgba(236, 234, 235, 0.5)), url("https://image.freepik.com/free-vector/vector-white-pink-marble-texture-background_56745-8.jpg") center center no-repeat;
    background-size: cover;
    grid-auto-rows: minmax(200px, auto);
}

.header-container {
    position: relative;
}

.recipes-header {
    position: absolute;
    bottom: 0;
    right: 40px;
}

.recipe-wrapper {
    border-radius: 5px;
    min-height: 250px;
    padding: .25rem;
    margin: .50rem;
    background: rgba(174,118,110,.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.recipe-wrapper img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 2px solid gold;
    margin-top: 20px;
}

.recipe-wrapper a {
    text-decoration: none;
    color: black;
}


@media (max-width: 1024px) {
    .recipe-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .recipe-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .recipe-container {
        grid-template-columns: repeat(1, 1fr);
    }
}