.recipe-details {
    width: 100%;
    background: linear-gradient(90deg, rgba(212, 203, 207, 0.6), rgba(236, 234, 235, 0.8)), url("https://image.freepik.com/free-vector/vector-white-pink-marble-texture-background_56745-8.jpg") center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #473818;
    padding-bottom: 5rem;
    font-family: 'Bilbo', cursive;
}

.back-link {
    padding: 50px;
    margin: 0;
}

.recipe-details-header {
    margin: 0 0 20px 0;
    padding: 10px;
    font-size: 3rem;
    color: #9b6ea7;
    text-shadow: 2px 2px white;
    text-align: center;
}

.img-container {
    width: 30%;
    margin: 0 auto;
}

.border-corners {
    height: 500px;
    width: 500px;
    padding: 30px;
    position: relative;
    box-shadow: -185px -185px 10px -180px #43250a,
    185px 185px 10px -180px #43250a;
}

.border-corners img {
    width: 100%;
    overflow: hidden;
}

ol img {
    margin: 20px;
    height: 150px;
    width: 150px;
}

.ingredients-list-container {
    width: 40%;
    margin: 0 auto;
}

.ingredients-list {

}

.ingredients-list-item {
    font-family: 'Bebas Neue', cursive;
}

ol {
    list-style: none;
    counter-reset: procedure-counter;
}

ol li {
    counter-increment: procedure-counter;
}

ol li::before {
    content: counter(procedure-counter);
    color: #43250a;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    margin-right: 10px;
    padding: 10px;
}

.meta-details-container {
    width: 40%;
    margin: 50px auto;
    padding: 10px;
    background: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.meta-details-wrapper {

}

.meta-details {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

.meta-details h4 span {
    margin: 0 50px;
}

.nutrition {
    color: darkgoldenrod;
}

@media (max-width: 1024px) {
    .img-container {
        width: 50%;
    }

    .ingredients-list-container, .meta-details-container {
        width: 60%;
    }
}

@media (max-width: 992px) {
    .img-container {
        width: 70%;
    }

    .ingredients-list-container, .meta-details-container {
        width: 70%;
    }
}


@media (max-width: 768px) {
    .img-container {
        width: 80%;
    }

    .ingredients-list-container, .meta-details-container {
        width: 90%;
    }
}


@media (max-width: 690px) {
    .border-corners {
        width: unset;
        height: unset;
    }
}