html {
    scroll-behavior: smooth;
}

.App {
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    margin: 0 auto;
}

.headers {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 5rem;
    color: #9b6ea7;
    text-shadow: 2px 2px white;
    margin: 0;
}

.sub-header {
    text-align: left;
    font-size: 3rem;
    color: #9b6ea7;
    text-shadow: 2px 2px white;
}

h4, a {
    font-family: 'Bebas Neue', cursive;
}